{% extends 'base.html.twig' %}

{% block title %}Products list{% endblock %}

{% block body %}
    <div class="row">
        {% if products and products|length > 0 %}
            {% for product in products %}
                <div class="card card-product mb-3 p-1">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <a href="{{ path('app_product_view', { 'id': product.id }) }}">
                                {% if product.image == null %}
                                    <img src="{{ asset('images/product/noimage.jpg') }}" class="card-img">
                                {% else %}
                                    <img src="{{ product.image.url }}" class="card-img">
                                {% endif %}
                            </a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-2">
                                <h5 class="card-title">
                                    <a href="{{ path('app_product_view', { 'id': product.id }) }}">
                                        {{ product.name|length > 62 ? product.name|slice(0, 61) ~ '...' : product.name }}
                                    </a>
                                </h5>
                                <p class="card-text">
                                    {{ product.description|length > 160 ? product.description|slice(0, 169) ~ '...' : product.description }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="card-body text-muted p-1 text-right">
                            <small class="text-muted"><i class="fas fa-user"></i>&nbsp;{{ product.manager.firstName }} {{ product.manager.lastName }}</small>&nbsp;&nbsp;&nbsp;&nbsp;
                            <small class="text-muted"><i class="fas fa-th-list"></i></i>&nbsp;{{ product.category.count }}</small>&nbsp;&nbsp;&nbsp;&nbsp;
                            <small class="text-muted"><i class="fas fa-tags"></i>&nbsp;{{ product.tag.count }}</small>&nbsp;&nbsp;&nbsp;&nbsp;
                            <small class="text-muted"><i class="fas fa-palette"></i>&nbsp;<span class="color-block" style="background-color: {{ product.color }};">&nbsp;&nbsp;&nbsp;&nbsp;</span></small>&nbsp;&nbsp;&nbsp;&nbsp;
                            <small class="text-muted"><i class="fas fa-warehouse"></i>&nbsp;{{ product.count }}</small>&nbsp;&nbsp;&nbsp;&nbsp;
                            <small class="text-muted"><i class="fas fa-money-bill-wave"></i>&nbsp;{{ product.price }} {{ product.currency }}</small>
                                </span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Empty!</p>
        {% endif %}
    </div>
    <div class="row">
        {{ knp_pagination_render(products) }}
    </div>
{% endblock %}
