{% extends 'base.html.twig' %}

{% block title %}{{ title }} product{% endblock %}

{% block body %}
    <div class="row">
        <div class="card card-product mb-3">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <a href="{{ app.user.roles == ['ROLE_ADMIN_MANAGER'] ? path('app_default_index') : path('app_adminpanel_productslist') }}" class="btn btn-secondary btn-sm">Back</a>
                        <button class="btn btn-success btn-sm float-right" type="submit">{{ title }}</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
