{% extends 'base.html.twig' %}

{% block title %}{{ title }} product{% endblock %}

{% block body %}
    <div class="row">
        <div class="card card-product mb-3">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <div class="row">
                            <div class="col text-left">
                                <a href="{{ app.user.roles == ['ROLE_ADMIN_MANAGER'] ? path('app_default_index') : path('app_adminpanel_productslist') }}" class="btn btn-secondary btn-sm"><i class="fas fa-arrow-left"></i>&nbsp;Back</a>
                            </div>
                            <div class="col text-center">
                                {% if image and image.id %}
                                    <a href="{{ path('app_product_deleteimage', {'id': id}) }}" class="btn btn-danger btn-sm"><i class="fas fa-times"></i>&nbsp;Delete image</a>
                                {% endif %}
                            </div>
                            <div class="col text-right">
                                <button class="btn btn-success btn-sm" type="submit"><i class="fas fa-check"></i>&nbsp;{{ title }}</button>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
