{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="row">
        {{ form_start(form) }}
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        {{ form_widget(form) }}
        <a href="{{ path('app_default_index') }}" class="btn btn-secondary btn-sm">Back</a>
        <button class="btn btn-success btn-sm" type="submit">Login</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
